﻿<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        <li data-target="#carousel-example-generic" data-slide-to="3"></li>
        <li data-target="#carousel-example-generic" data-slide-to="4"></li>
    </ol>
    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        <div class="item">
            <div class="row">
                <div class="col-lg-6">
                    <img src="~/Content/Carousel/carousel_image_1.jpg"/>
                </div>
                <div class="col-lg-5 text">
                    Znajdź kupca, zostaw ofertę i czekaj na kontakt
                </div>
            </div>
        </div>
        <div class="item active">
            <div class="row">
                <div class="col-lg-6">
                    <img src="~/Content/Carousel/carousel_image_2.jpg" />
                </div>
                <div class="col-lg-5 text">
                    Napisz czego potrzebujesz, gdzie tego potrzebujesz i czekaj na oferty sprzedawców
                </div>
            </div>
        </div>
        <div class="item">
            <div class="row">
                <div class="col-lg-6">
                    <img src="~/Content/Carousel/carousel_image_3.jpg" />
                </div>
                <div class="col-lg-5 text">
                    Gdy tylko potrzebujesz coś kupić, gdy nie chce ci się szukać, gdy chcesz dostać najlepszą ofertę
                </div>
            </div>
        </div>
        <div class="item">
            <div class="row">
                <div class="col-lg-6">
                    <img src="~/Content/Carousel/carousel_image_4.jpg" />
                </div>
                <div class="col-lg-5 text">
                    Najniższe oferty cenowe jakie można znaleźć, bez potrzeby przeglądania całego internetu
                </div>
            </div>
        </div>
        <div class="item">
            <div class="row">
                <div class="col-lg-6">
                    <img src="~/Content/Carousel/carousel_image_5.jpg" />
                </div>
                <div class="col-lg-5 text">
                    Nie musisz szukać kupców, oni już tu są tutaj i wiedzą co chcą kupić
                </div>
            </div>
        </div>
    </div>
</div>
