﻿@model Cito.ViewModels.BuyOfferDetailsViewModel
<div>
    @Html.LabelFor(m=>m.Title)
    @Html.DisplayFor(m=>m.Title)
</div>
<div>
    @Html.LabelFor(m => m.DeliverToCity)
    @Html.DisplayFor(m => m.DeliverToCity)
</div>
<div>
    @Html.LabelFor(m => m.ValidUntil)
    @Html.DisplayFor(m => m.ValidUntil)
</div>
<div>
    @Html.LabelFor(m => m.BuyerName)
    @Html.DisplayFor(m => m.BuyerName)
</div>