﻿@model Cito.ViewModels.HomeIndexViewModel
@{
    ViewBag.Title = "Punkt sprzedaży - strona główna";
}
<div class="row">
    @Html.Partial("_Carousel")
</div>

@{
    var first = Model.BuyOfferList.FirstOrDefault();
    var last = Model.BuyOfferList.LastOrDefault();
    var table = Model.BuyOfferList.Skip(1).Reverse().Skip(1).ToList();
}

<section>
    <div class="row">
        <h1 class="text-center">Najnowsze oferty kupna</h1>
    </div>
    <div class="row">
        <div class="col-lg-2">
            @if (first != null)
            {
                <article>
                    @Html.Partial("_OfferDetailed", first)
                </article>
            }
        </div>
        <div class="col-lg-8">
            <div class="row">
                @if (table.Any())
                {
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>nazwa</th>
                                <th>miasto</th>
                                <th>ważne do</th>
                            </tr>
                        </thead>
                        <tbody class="table-hover">
                            @foreach (var item in table)
                            {
                                <tr>
                                    <td class="col-lg-6">@item.Title</td>
                                    <td class="col-lg-2">@item.DeliverToCity</td>
                                    <td class="col-lg-2">@item.ValidUntil</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
                else
                {
                    <h3>Nie mamy żadnych ofert sprzedarzy, odwiedź nas powownie wkrótce.</h3>
                }
            </div>
            @if (table.Any())
            {
                <div class="row">
                    @Html.ActionLink("Zobacz więcej ofert", "List", "Offer")
                </div>
            }
        </div>
        <div class="col-lg-2">
            @if (last != null)
            {
                <article>
                    @Html.Partial("_OfferDetailed", last)
                </article>
            }
        </div>
    </div>
</section>