﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Punkt sprzedaży</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-fixed-top">
        <div class="container">
            @Html.ActionLink("Punkt sprzedaży", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Start", "Index", "Home")</li>
                <li>@Html.ActionLink("List ofert", "List", "Offer")</li>
                <li>@Html.ActionLink("Dodaj ofertę kupna", "NewBuy", "Offer")</li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li>
                    @Html.ActionLink("Pomoc", "Index", "About", null, new { @class = "btn btn-sm btn-info" })
                </li>
            </ul>

            @Html.Partial("_LoginPartial")
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
    </div>
    <footer>
        <nav class="navbar navbar-fixed-bottom">
            <div class="container text-center">
                <p>&copy; @DateTime.Now.Year - Punkt sprzedaży - wersja(20160108-0.1)</p>
            </div>
        </nav>
    </footer>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
