﻿* {
    font-size: 16px;
}


.body-content {
    margin-top: 50px;
}

footer {
    margin-top: 50px;
}

.carousel-inner .item {
    height: 350px;
}

.carousel-inner .item img {
    margin: 10px auto;
    display: block;
}

.carousel-inner .item .text {
    top: 50%;
    font-size: 24px;
    text-align: justify;
    margin-top: 100px;
}

.carousel-control.left,
.carousel-control.right {
    background-image: none;
}

.carousel-indicators li {
    width: 8px;
    height: 8px;
}

.carousel-indicators li,
.carousel-indicators .active {
    border: 1px solid #428bca;
    background-color: #A3B6C6;
}

.navbar-fixed-top {
    background-color: white;
}


.carousel {
    border: 1px solid #a0a0a0;
    border-color: #f8f8f8;
    border-radius: 5px;
    margin-top: 10px;
}
.carousel-indicators {
    bottom: -30px;
    
}
