﻿@model Cito.ViewModels.UserBuyingViewModel

@{
    ViewBag.Title = "Punkt sprzedaży - moja lista zakupów";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>title</h2>

Moje oferty kupna:<br/>


<div>
    @foreach (var item in Model.BuyOfferList)
    {
        <p>@item.Title</p>
        <p>@item.Description</p>
        <p>@item.DeliverToCity</p>
        <p>@item.Created</p>
        <p>@Html.ActionLink("Szczegóły", "Details", "Offer", new {id = item.Id}, null)</p>
        <hr/>
    }
</div>

@Html.ActionLink("powrót", "Index", "User")
