﻿@model Cito.ViewModels.UserContactDetailsViewModel

@{
    ViewBag.Title = "Punkt sprzedaży - dane kontaktowe użytkownika";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <hgroup class="text-center">
        <h1>Dane kontaktowe</h1>
    </hgroup>
</div>
<div class="row">
    @Html.LabelFor(m => m.Name)
    @Html.DisplayFor(m => m.Name)
</div>
<div class="row">
    @Html.LabelFor(m => m.Email)
    @Html.DisplayFor(m => m.Email)
</div>
<div class="row">
    @Html.LabelFor(m => m.PhoneNumber)
    @Html.DisplayFor(m => m.PhoneNumber)
</div>