﻿
@{
    ViewBag.Title = "Punkt sprzedaży - moje oferty";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    @Html.ActionLink("Pokaż moje oferty kupna", "Buying", "User")
</div>
<div>
    @Html.ActionLink("Pokaż moje oferty sprzedaży", "Selling", "User")
</div>
<div>
    @Html.ActionLink("Zarządzaj moim kontem", "Index", "Manage")
</div>
