﻿@model Cito.ViewModels.UserSellingViewModel

@{
    ViewBag.Title = "Punkt sprzedaży - moja lista sprzedarzy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>title</h2>

Moje oferty sprzedaży:
@foreach (var item in Model.SellOfferList)
{
    <p>@item.Description</p>
    <p>@item.DeliveryMethod</p>
    <p>@item.Created</p>
    @Html.ActionLink(string.Format("szczegóły: {0}",item.BuyOffer.Title), "Details", "Offer", new { id = item.BuyOffer.Id }, null)
    <hr/>
}

@Html.ActionLink("powrót", "Index", "User")
