﻿@using Microsoft.AspNet.Identity
@model Cito.ViewModels.BuyOfferDetailsViewModel

@{
    ViewBag.Title = "Punkt sprzedaży - oferta kupna";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <hgroup>
        <h1 class="text-center">Oferta kupna</h1>
        <h3 class="text-center text-info">@Model.Title</h3>
    </hgroup>
</div>

<article>
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 clearfix">
            <div>
                @Html.LabelFor(m => m.BuyerName)
                @Html.DisplayFor(m => m.BuyerName)
            </div>

            <div>
                @Html.LabelFor(m => m.Description)
                @Html.DisplayFor(m => m.Description)
            </div>

            <div>
                @Html.LabelFor(m => m.DeliverToCity)
                @Html.DisplayFor(m => m.DeliverToCity)
            </div>
            <div class="row text-center">
                @if (Model.CanPostSellOffers())
                {
                    @Html.ActionLink("Dodaj nową ofertę sprzedaży", "NewSell", "Offer", new { id = Model.Id }, new { @class = "btn btn-primary" })
                }
            </div>
            <div>
                @if (!Model.SellOffers.Any())
                {
                    <p class="text-center text-warning">Ta oferta nie ma jeszcze ofert sprzedaży, bądź pierwszy na liście ofert!</p>
                }
                else
                {
                    <p class="text-center">Zgłoszone oferty sprzedaży:</p>
                    if (!Model.IsCurrentUserIsBuyer())
                    {
                        <p class="text-center text-info">Ceny oraz kontakt jest widoczny tylko dla właściciela aukcji</p>
                    }
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Opis</th>
                                <th>Sposób dostawy</th>
                                <th>Sprzedawca</th>
                                @if (Model.IsCurrentUserIsBuyer())
                                {
                                    <th class="text-right">Cena</th>
                                    <th class="text-right">Opcje</th>
                                }
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var sellOffer in Model.SellOffers.OrderByDescending(s => s.Created))
                            {
                                <tr>
                                    <td class="col-lg-4">@sellOffer.Description</td>
                                    <td class="col-lg-4">@sellOffer.DeliveryMethod</td>
                                    <td class="col-lg-2">@sellOffer.Owner.UserName</td>
                                    @if (Model.IsCurrentUserIsBuyer())
                                    {
                                        <td class="text-right col-lg-1">@sellOffer.Price</td>
                                        <td class="text-right col-lg-1">
                                            <p>@Html.ActionLink("kontakt", "Contact", "User", new { id = sellOffer.OwnerId }, new { @class = "btn btn-default btn-sm" })</p>
                                            <p>@Html.ActionLink("akceptuj", "Index", "Home", null, new { @class = "btn btn-default btn-sm" })</p>
                                        </td>
                                    }
                                </tr>
                            }
                        </tbody>
                    </table>
                }
            </div>
        </div>
    </div>
</article>