﻿@model Cito.ViewModels.OfferListViewModel

@{
    ViewBag.Title = "Punkt sprzedaży - lista ofert kupna";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<hgroup>
    <h1 class="text-center">Oferty kupna</h1>
</hgroup>

<div class="row">
    <section class="offers col-lg-10 col-lg-offset-1">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>nazwa</th>
                    <th>miasto</th>
                    <th>ważne do</th>
                    <th>opcje</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>nazwa</th>
                    <th>miasto</th>
                    <th>ważne do</th>
                    <th>opcje</th>
                </tr>
            </tfoot>
            <tbody class="table-hover">
                @foreach (var item in Model.BuyOfferList)
            {
                    <tr>
                        <td class="col-lg-6">@item.Title</td>
                        <td class="col-lg-2">@item.DeliverToCity</td>
                        <td class="col-lg-2">@item.ValidUntil</td>
                        <td class="col-lg-2">@Html.ActionLink("Szczegóły", "Details", "Offer", new { id = item.Id }, null)</td>
                    </tr>
                }
            </tbody>
        </table>
        <nav class="text-center">
            <ul class="pagination pagination-lg">
                <li class="@Model.PrevPageCssClass()">
                    <a href="@Url.Action("List", "Offer", new {page = Math.Max(1, @Model.CurrentPage - 1)})" aria-label="Previous">
                        <span aria-hidden="true">
                            &laquo;
                        </span>
                    </a>
                </li>

                @foreach (var availablePage in Model.NavigationPages())
                {
                    <li class="@availablePage.CssClass">
                        @Html.ActionLink(availablePage.Page.ToString(), "List", "Offer", new { page = availablePage.Page }, null)
                    </li>
                }

                <li class="@Model.NextPageCssClass()">
                    <a href="@Url.Action("List", "Offer",new {page=Math.Min(Model.PagesCount, @Model.CurrentPage+1)})" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </section>
</div>