﻿@model Cito.Dtos.NewBuyOfferDto

@{
    ViewBag.Title = "Punkt sprzedaży - nowa oferta kupna";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <hgroup class="col-lg-10 col-lg-offset-1">
        <h2 class="text-center">Nowa oferta kupna</h2>
    </hgroup>
</div>

<div class="row">
    <div class="col-lg-8 col-lg-offset-2">
        @using (Html.BeginForm("NewBuy", "Offer", FormMethod.Post, new { role = "form" }))
        {
            <div class="form-group text-danger">
                @Html.ValidationSummary()
            </div>
            <div class="form-group">
                <div class="text-danger">@Html.ValidationMessageFor(m => m.Title)</div>
                @Html.LabelFor(m => m.Title)
                @Html.TextBoxFor(m => m.Title, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <div class="text-danger">@Html.ValidationMessageFor(m => m.Description)</div>
                @Html.LabelFor(m => m.Description)
                @Html.TextAreaFor(m => m.Description, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <div class="text-danger">@Html.ValidationMessageFor(m => m.DeliverToCity)</div>
                @Html.LabelFor(m => m.DeliverToCity)
                @Html.TextBoxFor(m => m.DeliverToCity, new { @class = "form-control" })
            </div>

            <button type="submit" class="btn btn-primary pull-right">Dodaj ofertę kupna</button>
        }
    </div>
</div>