﻿@model Cito.Dtos.NewSellOfferDto

@{
    ViewBag.Title = "Punkt sprzedaży - lista oferta sprzedaży";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <hgroup>
        <h2 class="text-center">Nowa oferta sprzedaży</h2>
    </hgroup>
</div>
<div class="row">
    <div class="col-lg-8 col-lg-offset-2">
        @using (Html.BeginForm("NewSell", "Offer", FormMethod.Post, new { role = "form" }))
        {
            <div class="form-group">
                @Html.ValidationSummary()
            </div>

            @Html.HiddenFor(m => m.BuyOfferId)
            <div class="form-group">
                @Html.LabelFor(m => m.Description)
                @Html.TextAreaFor(m => m.Description, new { @class = "form-control" })
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Price)<br/>
                <div class="input-group">
                    @Html.TextBoxFor(m => m.Price, new {@class = "form-control text-right"})
                    <span class="input-group-addon">pln (brutto)</span>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.DeliveryMethod)
                @Html.TextAreaFor(m => m.DeliveryMethod, new { @class = "form-control" })
            </div>

            <button type="submit" class="btn btn-primary pull-right">Dodaj ofertę sprzedaży</button>
        }
    </div>
</div>