﻿@model Cito.ViewModels.ManageEmailChangeViewModel

@{
    ViewBag.Title = "Punkt sprzedaży - konto użytkownika - zmiań adres email";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <hgroup class="text-center">
        <h1>Konto</h1>
        <h1>Zmień adres email</h1>
    </hgroup>
</div>
<div class="row">
    @using (Html.BeginForm("EmailChange", "Manage", FormMethod.Post, new { role = "form" }))
    {
        <div class="form-group">
            @Html.ValidationSummary()
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.CurrentUserEmail)
            @Html.DisplayFor(m => m.CurrentUserEmail)
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.NewEmailAddress)
            @Html.TextBoxFor(m => m.NewEmailAddress, new { @class = "form-control" })
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary pull-right">Zapisz zmiany</button>
        </div>
    }
</div>