﻿@model Cito.ViewModels.ManageIndexViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Punkt sprzedaży - konto użytkownika";

}

<div class="row">
    <hgroup>
        <h1 class="text-center"> Konto</h1>
    </hgroup>
</div>
<div class="row">
    <p>@Html.ActionLink("Zmień nazwę", "NameChange", "Manage")</p>
    <p>@Html.ActionLink("Zmień email", "EmailChange", "Manage")</p>
    <p>@Html.ActionLink("Zmień hasło", "PasswordChange", "Manage")</p>
    <p>@Html.ActionLink("Zmień telefon", "PhoneChange", "Manage")</p>
</div>