﻿@model Cito.ViewModels.ManageNameChangeViewModel

@{
    ViewBag.Title = "Punkt sprzedaży - konto użytkownika - zmień nazwę użytkownika";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <hgroup class="text-center">
        <h1>Konto</h1>
        <h1>Zmień nazwę użytkownika</h1>
    </hgroup>
</div>
<div class="row">
    @using (Html.BeginForm("NameChange", "Manage", FormMethod.Post, new { role = "form" }))
    {
        <div class="form-group">
            @Html.ValidationSummary()
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.CurrentUserName)
            @Html.DisplayFor(m => m.CurrentUserName)
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.NewUserName)
            @Html.TextBoxFor(m => m.NewUserName, new {@class = "form-control"})
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary pull-right">Zapisz zmiany</button>
        </div>
    }
</div>