﻿@model Cito.ViewModels.ManagePasswordChangeViewModel

@{
    ViewBag.Title = "Punkt sprzedaży - konto użytkownika - zmiań hasło";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <hgroup class="text-center">
        <h1>Konto</h1>
        <h1>Zmień hasło</h1>
    </hgroup>
</div>
<div class="row">
    @using (Html.BeginForm("PasswordChange", "Manage", FormMethod.Post, new { role = "form" }))
    {
        <div class="form-group">
            @Html.ValidationSummary()
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.CurrentPassword)
            @Html.PasswordFor(m => m.CurrentPassword, new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.NewPassword)
            @Html.PasswordFor(m => m.NewPassword, new {@class = "form-control"})
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.NewPasswordConfirm)
            @Html.PasswordFor(m => m.NewPasswordConfirm, new { @class = "form-control" })
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary pull-right">Zapisz zmiany</button>
        </div>
    }
</div>