﻿@using Cito.Resources
@model dynamic

@{
    ViewBag.Title = @Translations.View_About_Index_Contact_Section_Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <hgroup class="text-center">
        <h2>@Translations.View_About_Index_Title</h2>
    </hgroup>
</div>
<div class="row">
    <section>
        <h3>@Translations.View_About_Index_Section_Title_Rules_In_Short</h3>
        <ul>
            <li>@Translations.View_About_Index_Rules_Only_Logged_In_Users_Can_Post_Buy_Offers</li>
            <li>@Translations.View_About_Index_Rules_Only_Logged_In_Users_Can_Post_Sell_Offers</li>
            <li>@Translations.View_About_Index_Rules_Buy_Offers_Will_Last_7_Days</li>
            <li>@Translations.View_About_Index_Rules_Only_Buyers_Can_See_Sell_Offers_Details</li>
            <li>@Translations.View_About_Index_Rules_Only_Logged_In_Users_Can_See_Sellers_Details</li>
        </ul>
    </section>
</div>
<div class="row">
    <section>
        <h3>@Translations.View_About_Index_Application_Description_Section_Title</h3>
        <p>
            @Translations.View_About_Index_Application_Description_Text
        </p>

    </section>
</div>
<div class="row">
    <section>
        <h3>
            @Translations.View_About_Index_Application_Short_Instruction_Title
        </h3>
        <ol>
            <li>@Translations.View_About_Index_Application_Short_Instruction_Step_1</li>
            <li>@Translations.View_About_Index_Application_Short_Instruction_Step_2</li>
            <li>@Translations.View_About_Index_Application_Short_Instruction_Step_3</li>
            <li>@Translations.View_About_Index_Application_Short_Instruction_Step_4</li>
            <li>@Translations.View_About_Index_Application_Short_Instruction_Step_5</li>
            <li>@Translations.View_About_Index_Application_Short_Instruction_Step_6</li>
        </ol>
    </section>
</div>

<div class="row">
    <section>
        <h3>@Translations.View_About_Index_Contact_Section_Title</h3>
        <p>
            @Translations.View_About_Index_Contact_Text
        </p>
    </section>
</div>